* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}
body {
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}
#container {
    width: 360px;
    margin: 0 auto;
    padding: 0 24px;
    border: 1px solid red;
    margin-top: 56px;
}
#profile {
    text-align: center;
    padding: 24px;
}
#profile img {
    display: block;
    width: 112px;
    margin: 0 auto;
}
#profile p {
    font-weight: 500px;
    line-height: 24px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    gap: 16px;
}

ul li a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    transition: background 0.2s;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
    border-radius: 8px;
}

#social-links {
    display: flex;
    padding: 30px 0;
    justify-content: center;
    font-size: 25px;
}
#social-links a {
    display: flex;
    padding: 16px;
    align-items: center;
    border-radius: 50%;
    transition: background 0.2s;
}
#social-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
}
